body {
  background:none transparent!important;
}

.container-fluid {
  padding:0px!important;
  margin:0px!important;
}

.container-fluid > .justify-content-center > .col-xl-12 > .card.shadow {
  padding:0px!important;
  margin:0px!important;
  box-shadow:none!important;
  border:0px!important;
}

.text-gray-800 {
  color:#262626!important;
}

a {
  color: #6c3fc4;
  text-decoration:underline;
}

a:hover {
  color: #280f5b;
}

.text-primary {
  color: #6c3fc4 !important;
}